#deck-builder {
    main, .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.db {
    display: flex;

    &-header {
        height: 98px;
        padding: .5rem;
        background: var(--color-bg-secondary);
        border-bottom: 1px solid black;

        input {
            padding: .6rem 1rem .4rem;
            color: black;
        }

        &-filter {

        }
    }

    &-wrapper {
        width: calc(100% - 400px);
    }

    .vue-wrapper {
        display: block;
        width: 100%;
    }

    &-content {
        display: flex;
        width: 100%;
        height: calc(100vh - 98px);
        overflow: hidden;

        &-card-list {
            display: flex;
            width: 100%;

            &-arrow {
                display: flex;
                width: 50px;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    font-size: 4rem;
                }

                &.arrow-left {
                    background: linear-gradient(90deg, rgba(black , .3) 0%, rgba(black, 0) 100%);
                    &:hover {
                        background: linear-gradient(90deg, rgba(black , .4) 0%, rgba(black, 0) 100%);
                    }
                }

                &.arrow-right {
                    background: linear-gradient(90deg, rgba(black, 0) 0%, rgba(black, .3) 100%);
                    &:hover {
                        background: linear-gradient(90deg, rgba(black, 0) 0%, rgba(black, .4) 100%);
                    }
                }
            }

            &-cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;

                .click-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25%;
                    height: calc(50vh - 50px);
                    padding: 1rem;
                    cursor: pointer;

                    .card {
                        display: inline-block;
                        max-width: calc((86vh / 2) - 1rem - 100px);
                        width: 100%;
                    }
                }
            }
        }

        &-deck-list {
            position: relative;
            width: 400px;
            border-left: 1px solid black;
            background: var(--color-bg-secondary);
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            &-title {
                width: 100%;
                padding: .6rem 1rem .4rem;
                font-size: 1.5rem;
                font-weight: 700;
                background: var(--color-primary-dark);
                border-bottom: 1px solid black;
            }

            .db-table-scroll-wrapper {
                height: calc(100vh - 98px - 70px - 226px);
                overflow-y: auto;

                &.graph-open-wrapper {
                    height: calc(100vh - 98px - 70px - 28px);
                }

                &::-webkit-scrollbar { width: 5px; }
                &::-webkit-scrollbar-track { background: #f1f1f1; }
                &::-webkit-scrollbar-thumb { background: #888; }
                &::-webkit-scrollbar-thumb:hover { background: #555; }
            }

            &-cards {
                width: 100%;
                border-collapse: collapse;

                &-card:last-child {
                    td {
                        border: 0 !important;
                    }
                }

                &-card {
                    margin-bottom: .5rem;
                    cursor: pointer;

                    &:hover {
                        span.card-name {
                            background: rgba(black, .9);
                        }

                        .showcase-card {
                            opacity: 1;
                        }

                        .card-amount-controller {
                            pointer-events: all;
                            opacity: 1;
                            left: -86px;
                        }
                    }

                    &-amount {
                        position: relative;
                        padding-top: .1rem;
                        width: 40px;
                        font-size: 1.3rem;
                        font-weight: 800;
                        text-align: center;
                        background: var(--color-bg-secondary);
                        border-bottom: 1px solid black;

                        .card-amount-controller {
                            position: absolute;
                            z-index: 10;
                            left: -50px;
                            top: 9px;
                            opacity: 0;
                            background: black !important;
                            height: 40px;
                            width: 70px;
                            border: 2px solid black;
                            transition: all .1s;
                            pointer-events: none;

                            a {
                                display: inline-block;
                                padding: 5px;

                                &:hover {
                                    color: var(--color-primary);
                                }

                                i.inactive {
                                    opacity: .1;
                                }
                            }

                            &::before {
                                content: ' ';
                                position: absolute;
                                top: 4px;
                                right: -16px;
                                z-index: -1;
                                background: black;
                                width: 28px;
                                height: 28px;
                                transform: rotate(45deg);
                            }
                        }
                    }

                    &-cost {
                        padding-top: .3rem;
                        width: 40px;
                        font-size: 1.5rem;
                        font-weight: 800;
                        text-align: center;
                        background: var(--color-primary);
                        border-bottom: 1px solid black;
                    }

                    &-name {
                        background-size: cover;
                        background-position: 0 20%;
                        border-bottom: 1px solid black;
                        position: relative;

                        span.card-name {
                            display: inline-block;
                            width: 100%;
                            padding: 1rem;
                            background: rgba(black, .7);
                            font-weight: 600;
                        }

                        .showcase-card {
                            position: absolute;
                            top: 1.2rem;
                            right: 1rem;
                            opacity: 0;
                            transition: opacity .1s;
                        }
                    }
                }
            }

            &-counter {
                width: 100%;
                border-right: 1px solid black;

                h2 {
                    padding: .5rem 1rem .3rem;
                    background: var(--color-button-green);
                    font-weight: 700;
                    font-size: 1.3rem;
                    text-align: center;

                    &.red {
                        background: var(--color-button-red);
                    }
                }
            }

            &-graph {
                width: 100%;
                height: 200px;
                border-top: 1px solid black;
            }

            &-buttons {
                display: flex;
                position: absolute;
                bottom: 0;
                font-size: 1.3rem;
                border-top: 1px solid black;
                width: 100%;

                &-save,
                &-cancel {
                    width: 50%;

                    .button {
                        width: 100%;
                        height: 70px;
                        padding: 1.2rem 1.8rem 1.0rem;
                    }
                }

                &-cancel {
                    border-right: 1px solid black;
                }
            }
        }
    }
}
