:root {
    --color-primary: #6D6AB1;
    --color-primary-light: #ABA9E0;
    --color-primary-dark: #44436F;
    --color-bg-primary: #131012;
    --color-bg-secondary: #262425;
    --color-bg-container: #1f1c1d;
    --color-white: #EDF2F7;
    --color-placeholder: #504B4D;

    --color-button-red: #791515;
    --color-button-red-hover: #A61F1F;

    --color-button-green: #49753F;
    --color-button-green-hover: #60B34D;
}

@tailwind base;

body {
    background-color: var(--color-bg-secondary);
    color: var(--color-white);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

// FE
@import 'main';
@import 'sidebar';
@import 'card';
@import 'sets';
@import 'modal';
@import 'decks';
@import 'deck-builder';

// CMS
@import 'lube';
@import 'picker';
@import 'habtm';
@import 'card-data';
@import 'card-stats';

input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

::-moz-selection {
    background: #dcd7fe;
}

::selection {
    background: #dcd7fe;
}
